.config-container {
  width: 20em;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;
}

#save-button {
  margin-top: 1em;
  width: 20em;
}